header{
    width: 100vw;
    height: 12vh;
    background-color:transparent;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    
}
header h1{
    font-size: 2.8em;
}
header h1 .lar{
    color: #DB0000;
    font-size: 1.2em;
}
header h1 a{
    text-decoration: none;
    color:white ;
}

header nav a{
    position: relative;
    font-size: 1.2em;
    text-decoration: none;
    color:white;
    font-weight: 500;
    margin-left: 40px;
   
}
.logins button{
    width: 150px ;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;

}
.logins button:hover{
    background-color: white;
    color: black;
}
header.rolar{
    background-color:black ;
  }
